doctype html

html
  head
    title Auth End

  body
    script(src="/MicrosoftTeams.min.js", crossorigin="anonymous")

    script.
      microsoftTeams.initialize();
      microsoftTeams.authentication.notifySuccess('#{result}');
