doctype html

html
  head
    title Auth End

  body
    script(src="https://statics.teams.cdn.office.net/sdk/v1.6.0/js/MicrosoftTeams.min.js", integrity="sha384-mhp2E+BLMiZLe7rDIzj19WjgXJeI32NkPvrvvZBrMi5IvWup/1NUfS5xuYN5S3VT", crossorigin="anonymous")

    script.
      microsoftTeams.initialize();
      microsoftTeams.authentication.notifySuccess('#{code}');
