body {
  background-color: white;
}

.moduleContainer {
  display: flex;
  flex-wrap: wrap;
}

.moduleContainer > * {
  border: 1px solid lightgray;
  margin: 4px;
  padding: 4px;
}

label {
  font-weight: bold;
  vertical-align: top;
}

textarea, input[type='text'] {
  width: 200px;
}

textarea {
  height: 100px;
}

.sectionTitle {
  margin-bottom: 15px;
}

.uploadFileSection ol {
  padding-left: 0;
}

.uploadFileSection li, div > p {
  background: #eee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  border: 1px solid black;
}

.uploadFileSection img {
  height: 64px;
  order: 1;
}

.uploadFileSection p {
  line-height: 32px;
  padding-left: 10px;
}

.uploadFileSection label, form button {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

.uploadFileSection label:hover, form button:hover {
  background-color: #2D5BA3;
  color: white;
}

.uploadFileSection label:active, form button:active {
  background-color: #0D3F8F;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message{
  color: red;
}